@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
body{
    background-color: #363434;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.125rem;
}

header{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 3px solid wheat;
    display: flex;
    justify-content: space-between;
    
}

a{
    text-decoration: none;
    color: aliceblue;
}

header img{
    width: 450px;
    height: 60px;
}

header nav{
    margin-right: 50px;
}

a.navLink{
    margin-left: 25px;
    font-family: 'Playfair Display', serif;
}

.navLink:hover {
    /* background-color: rgb(0, 0, 0); */
    color: #ec7f40;
}

main {
    /* min-height: 300px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 3.25rem;
    font-family: 'Playfair Display', serif;
    color: #ec7f40;
    margin-bottom: 1rem;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.228);
}

.text-summarization{
    /* background-color: rgb(255, 255, 255); */
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    
}

.our-team{
    border: 3px solid rgb(130, 32, 211);
    width: 170px;
    margin: 20px;
}

.our-team{
  width: 250px;
  height: 250px;  
  padding: 30px 0 40px;
  margin-bottom: 30px;
  background-color: #f7f5ec;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  margin-top: 20px;
}

.our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 50px;
    z-index: 1;
    position: relative;
  }

  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }

  .our-team:hover .picture::before {
    height: 100%;
  }

  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #1369ce;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }

  .our-team .picture img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }

  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }

  .our-team .title {
    display: block;
    font-size: 15px;
    color: #4e5052;
    text-transform: capitalize;
  }

  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #1369ce;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #1369ce;
    background-color: #f7f5ec;
  }
  
  .team-contact h3{
      font-size: 1.25rem;
      color: #ec7f40;
  }

  #contactus-main{
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
  }

  .made-with-love{
      margin-top: 50px;
  }

  .made-with-love h3{
    font-family: 'Indie Flower', cursive;
    text-align: center;
    font-size: 3rem;
  }
  

  
